<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="60520B029E250.RSSStalker"
    Publisher="CN=9EFA2047-A580-400B-A5B2-0C7ABB0DB5C0"
    Version="1.2.0.0" />

  <mp:PhoneIdentity PhoneProductId="7a0da50b-a63f-49ac-b507-4ef2cc9f1714" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:DisplayName</DisplayName>
    <PublisherDisplayName>云之幻</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="zh-CN"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="RSS_Stalker.App">
      <uap:VisualElements
        DisplayName="ms-resource:DisplayName"
        Square150x150Logo="Assets\Logo\Square150x150Logo.png"
        Square44x44Logo="Assets\Logo\Square44x44Logo.png"
        Description="RSS-Stalker"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png" ShortName="ms-resource:DisplayName" Square71x71Logo="Assets\Logo\SmallTile.png" Square310x310Logo="Assets\Logo\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="richasy-rss"/>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="StalkerToast.Toast">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
            <Task Type="timer"/>
            <Task Type="pushNotification"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="AutoCache.Main">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
            <Task Type="timer"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>