html {
    padding: 0;
    overflow-y: auto;
    width: 90vw;
    max-width: 700px;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Tw Cen MT';
    padding-top: 30px;
    padding-bottom: 30px;
}

figcaption {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.25;
    display: block;
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #8984D1;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

img {
    max-width: 100% !important;
    height: auto !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}

ol, p, ul {
    line-height: 1.7;
}

ol, ul {
    padding-left: 1.2rem;
}

li {
    margin-left: 5px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin: 1rem 0;
}

p {
    display: block;
    margin: 1rem 0;
}

    a, p a code {
        color: #2D7CD8;
    }

a {
    font-weight: 500;
    text-decoration: none;
}

hr {
    height: 0.1rem;
    border: 0;
    color: #8984D1;
    background-color: #8984D1;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

mark {
    max-width: 70%;
    width: auto;
    text-align: center;
    margin: 0 auto;
    background-color: #2D7CD8;
    color: #fff;
    padding: .4rem;
    display: block;
    font-style: italic;
}

code, pre {
    border-radius: 3px;
    color: inherit;
}

code {
    border: 1px solid #100F21;
    background-color: #100F21;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #333333;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

    pre > code {
        border: 0;
        margin: 0;
        padding: 0;
    }

table {
    width: 100%;
    margin-bottom: 20px;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}

blockquote {
    padding: 10px 15px;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #4A708F;
    background: none repeat scroll 0 0 rgba(102,128,153,.05);
    margin-left: 0
}

table th, table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    margin: 0;
}

tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(102,128,153,.1);
}

.footnote-item {
    font-style: italic;
    font-size: .9rem;
    margin-left: .6rem;
}

.tip {
    background-color: rgba(14,13,26,.3);
    border-color: #42b983;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.warning {
    background-color: rgba(14,13,26,.3);
    border-color: #e7c000;
    color: #F7ECB5;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.danger {
    background-color: rgba(14,13,26,.3);
    border-color: #c00;
    color: #FCC2C2;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}
