html {
    padding: 0;
    overflow-y: auto;
    max-width: 90vw;
    margin:0 auto;
}

body {
    margin: 0 auto;
    color: #2c3e50;
}
figcaption{
    display:block;
    margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.25;
    display: block;
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

img {
    max-width: 90% !important;
    height:auto !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}

ol, p, ul {
    line-height: 1.7;
}

ol, ul {
    padding-left: 1.2rem;
}

li {
    margin-left: 5px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin: 1rem 0;
}

p {
    display: block;
    margin: 1rem 0;
}

    a, p a code {
        color: #5b309f;
    }

a {
    font-weight: 500;
    text-decoration: none;
}

hr {
    height: 0.1rem;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
    overflow: hidden;
}

mark {
    max-width: 70%;
    width: auto;
    text-align: center;
    margin: 0 auto;
    background-color: #e9fdf0;
    color: #000;
    padding: .4rem;
    display: block;
    font-style: italic;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

    pre > code {
        border: 0;
        margin: 0;
        padding: 0;
    }

table {
    width: 100%;
    margin-bottom: 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

blockquote {
    padding: 10px 15px;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #D6DBDF;
    background: none repeat scroll 0 0 rgba(102,128,153,.05);
    margin-left: 0
}

table th, table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0;
}

tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(102,128,153,.05);
}

.footnote-item {
    font-style: italic;
    font-size: .9rem;
    margin-left: .6rem;
}

.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.warning {
    background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}


